/* Styling applying to 1024px and smaller, barring what is mentioned specifically in the responsive to 
mobile screens section */

header {

    grid-area: header;
    background-color: white;
    text-align: center;
    text-decoration-color: black;
    font-size: 120%;
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-areas: 
      "header header header"
      "aside main aside1"
      "aside footer aside1";
    grid-gap: 0;
    height: 100%;
}

table {
    text-align: left;
    vertical-align: bottom;
    border-collapse: collapse;
    width: 100%;
    }

table h2, h4 {
    
    font-weight: bolder;
}

th {
    width: 20%;
}



tr, td {
    border-width: 4%;
    border-style: none;
    padding: 1% 3%;
    margin: 10%;
    text-align: left;
}





main {
    grid-area: main;
    background-color: none;
    height: 100%;
}

img { 
    width: auto;
    }

.headingbox {
    padding: 1% 1% 1% 5%;
    font-size: 100%;
  }

  .headingboxC { /* Same as above but no centered text */
    padding: 1% 1% 1% 5%;
    font-size: 100%;
    text-align: center;
  }

.card {
    /* Added shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: fit-content;
  }

  .cardselected {
    /* Added shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: fit-content;
    background-color: white;
    border-style: inset;
    border-color: grey;
    border-width: 2%;
  }


  .card2 {
    /* Same as above but no shadow */
    width: 100%;
    height: fit-content;
    border-color: black;
  }

.cardbody {
  border: .05px solid white;
  border-radius: 5px 5px 0 0;
  border-collapse: collapse;
  width: fit-content;
  height: fit-content;
  padding: 5% 10%;
  text-align: center;
}

.cardbodyN {
    /* Same as above but with a grey border, left aligned text and less padding, for text boxes rather than button-like features */
    border: .05px solid grey;
    border-radius: 5px 5px 0 0;
    border-collapse: collapse;
    width: fit-content;
    height: fit-content;
    padding: 5%;
    text-align: left;
  }


/* On hover add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.aside{  /* Created to centre the content viewpoint for the user 
  while designing I made the background orange to define it easier */
    grid-area: aside;
    background-color: darkgrey;
}

.aside1{ /* Created to centre the content viewpoint for the user 
  while designing I made the background red to define it easier */
    grid-area: aside1;
    background-color: darkgrey;
}

footer{ /* Useful to have for layout, but also a client might want to utilise it, so best to have it there 
  just in case, while designing I made the background lightgreen to define it easier*/
    grid-area: footer;
    background-color: none;
    border: black;
    border-style: thin;
    height: 100%;
}




/* Float columns side by side */
.column1 {
  float: left;
  padding: 2%;
}

.column2 {
    float: left;
    padding: 2%;
  }

.row {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 5%;
}

/* float after the columns */
.row:after {
  padding: 2%;
}

/* Responsive columns 70rem max */
@media screen and (max-width: 70rem) {
.container {
    display: grid;
    grid-template-rows: .8fr 5fr .8fr;
    grid-template-columns: .8fr 10fr .8fr;
    grid-template-areas: 
      "header header header"
      "aside main aside1"
      "aside footer aside1";
    grid-gap: 0;
    height: 100%;
}
.main
    {
    height: 100%;
    }

}


/* Responsive columns 50rem max */
@media screen and (max-width: 50rem) {

  header{
    grid-area: header;
    text-align: center;
    text-decoration-color: white;
    font-size: 100%; /* This seemed sufficient for smaller screens, rather than the original 120% */
}

    .container {
      display: grid;
      grid-template-rows: .1fr 2fr .1fr;
      grid-template-columns: .1fr 1fr .1fr;
      grid-template-areas: 
        "header header header"
        "aside main aside1"
        "footer footer footer";
      grid-gap: 0;
  }


  .row {
    display: grid;
    grid-template-columns: 1fr;

  }

  img { 
    width: auto;
    height: auto;
    }

    .cardbody {
        border: .05px solid white;
        border-radius: 5px 5px 0 0;
        border-collapse: collapse;
        width: 90%;
        height: 90%;
        padding: 5%;
        text-align: center;
      }

}
